/* * {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none !important;
}

body {
  background-color: #eee !important;
  font-family: "IBM Plex Sans Thai Looped", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
}

.side-menu{
    position: fixed !important;
    background:#000 !important;
    width: 300px !important;
    height: 100% !important;
    box-sizing: border-box !important;
    padding: 30px 20px !important; 
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;

}

.side-menu .top-section .toggle-menu-btn{
    color:#333;
    font-size: 20px !important;
    display: inline-block;
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
}

.side-menu .search-controller{

    color: #345;
    position: relative !important;
}

.side-menu .search-controller .search-btn{
    width:40px;
    height: 35px;
    position: absolute !important;
    background:transparent;
    border:0;
    font-size: 20px !important;
    color: #666;
  


}

.side-menu .search-controller input[type=text]{
border:0;
outline: none;
height: 35px;
background-color: #333;
border-radius: 5px;
display: block;
margin:20px 0px;
width:100%;
box-sizing: border-box !important;
padding: 0 40px !important;
}

.divider{
    width:100% !important;
    height:1px !important;
    border-radius: 1px !important;
    margin-top: 5px;
    background: white !important;

}
 */
